[submodule "identity"]
	path = identity
	url = git@github.com:PranavBakre/junior-identity.git
[submodule "agents-org"]
	path = agents-org
	url = https://github.com/GrowthX-Club/junior-private-agents.git
